<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>
<body>
  <div class="content">
  	{{#test}}testekhkhkhk{{/test}}
    {{>content}}
  </div>
</body>
</html>
